.fade-in-text {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-text.is-visible {
  opacity: 1;
}

.typing-char {
  animation: typingEffect 1.5s infinite;
  display: inline-block;
  opacity: 0.2;
}

@keyframes typingEffect {
  0%, 100% {
    opacity: 0.2;
    color: cyan;
  }
  50% {
    opacity: 1;
    color: white;
  }
}
