@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: white;
  font-family: 'Exo 2', sans-serif;
  
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
    height: 100%;
}

.slide-up-enter {
  @apply translate-y-full opacity-0;
}

.slide-up-enter-active {
  @apply translate-y-0 opacity-100 transition-all duration-500;
}

/* styles.css */
.slick-track {
  display: flex !important;
}

.slick-dots li button:before {
    color: rgba(0, 255, 255, 0.3) !important; /* This is a transparent version of cyan */
    opacity: 1 !important;
    font-size:12px !important;
}

/* Active dot */
.slick-dots li.slick-active button:before {
    color: cyan !important;
}