@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme */
  --primary-bg-color: #ffffff;
  --primary-text-color: #333333;

  /* Dark Theme */
  --primary-bg-color-dark: #333333;
  --primary-text-color-dark: #ffffff;

  /* Set the initial theme to light */
  --current-bg-color: var(--primary-bg-color);
  --current-text-color: var(--primary-text-color);
}

body {
  color: black;
  background-color: white;
}

/* Additional styles for light theme */
body.light-theme {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* Additional styles for dark theme */
body.dark-theme {
  background-color: var(--primary-bg-color-dark);
  color: var(--primary-text-color-dark);
}



body {
  transition: color 0.5s, background-color 1s;
}